html, body { margin: 0; padding: 0; }
ul { list-style: none; }
.clear:after { display: block; content: ''; clear: both; }

.navbar { height: 50px; padding: 0 20px; width: 100%; box-sizing: border-box; color: white; }
.navbar .logo { float: left; line-height: 50px; font-size: 1.2em; }
.navbar .menu { float: right; line-height: 50px; margin: 0; padding: 0; }
.navbar .menu > li { display: inline-block; }
.navbar .menu a { display: block; height: 100%; padding: 0 10px; color: #888888; text-decoration: none; }
.navbar .menu a.v-link-active { /*background: #555555;*/ font-weight: bold; color: #EEEEEE; }

.fix-top { position: fixed; top: 0; left: 0; }

.head { background: url('images/background.jpg'); padding-top: 50px; padding-bottom: 10px; color: white; text-align: center; line-height: 1.5em; }
